<%= turbo_stream_from  @project %>

<h1 id="project_name"><%= @project.name %></h1>

<%= render "projects/state", project: @project %>

<ol id="timeline_entries_container">
  <%= turbo_frame_tag "timeline_entries" do %>
    <% @timeline_items.each do |item| %>
      <%= render item %>
    <% end %>
  <% end %>
</ol>

<%= form_with model: [@project, @new_comment],
  data: { controller: "new-comment", action: "turbo:submit-end->new-comment#reset" },
  url: project_comments_path,
  id: "new-comment-form",
  autocomplete: "off" do |f| %>
  <p class="author"><%= current_user.name %></p>
  <%= f.text_area :content, required: true %>
  <%= f.submit "Post Comment" %>
<% end %>
