<h1 id="project-name"><%= @project.name %></h1>

<p id="project-state"><%= @project.state %></p>

<div id="state-transition-buttons">
  <% StateChange::VALID_TRANSITIONS[@project.state].each do |new_state| %>
    <%= button_to "Change to #{new_state.humanize}",
                 project_path,
                 method: :patch,
                 params: { project: { state: new_state } },
                 data: { state: new_state } %>
  <% end %>
</div>

<ol id="timeline">
  <% @timeline_items.each do |item| %>
    <%= render item %>
  <% end %>
</ol>

<%= form_with model: [@project, @new_comment], url: project_comments_path, id: "new-comment-form" do |f| %>
  <%= f.text_area :content, required: true %>
  <%= f.submit "Post Comment" %>
<% end %>
